.swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  width: 120px;
  text-align: center;
  font-size: 18px;
  background: #020c16;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.swiper-slide img {
  display: block;
  width: 20%;
  height: auto;
  object-fit: contain;
}

.swiper-pagination {
  position: relative;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: white;
}